In [60]:
import pandas as pd
import re
import csv

In [95]:
data = pd.read_csv("C:\\Users\\1234\\Desktop\\Academy_SD_Data_import.csv")
data.head()

,company_code,doc_No,plant,ship_point,store_location,sales_order_item,doc_category,doc_type,bill_to_party,payer,...,bill_No,cal_date,base_unit,doc_currency,sale_unit,bill_quantity,exchange_rate,tax,subtot5,subtot6
0,1100,4.051014e+09,1100,1200.0,NaN,10,M,ZCS,14000005,14000005,...,4065001389,1/5/2022,PC,IRR,PC,62.0,1.0,"6,825.69","7,584,097.78",0
1,1100,4.051007e+09,1100,1200.0,PCP1,20,M,ZST,13000466,13000466,...,4091003940,8/29/2021,PC,IRR,PC,13000.0,1.0,"289,220.18","331,294,597.22","-9,938,837.78"
2,1100,4.051014e+09,1100,1200.0,PCP1,20,M,ZST,13001134,13001134,...,4091007143,1/1/2022,PC,IRR,PC,10000.0,1.0,"222,477.07","254,841,997.78","-7,645,260.00"
3,1100,9.951016e+09,1100,1200.0,PCP1,20,M,ZST,13001197,13001197,...,9991009062,12/14/2020,PC,IRR,PC,56000.0,1.0,"1,245,871.56","1,427,115,188.33","-42,813,455.56"
4,1100,9.951014e+09,1100,1200.0,PCP1,20,M,ZST,13000210,13000210,...,9991008003,11/11/2020,PC,IRR,PC,33000.0,1.0,"734,174.31","840,978,593.33","-25,229,357.78"

In [96]:
datetime_types = [
    '\d{1,2}\/\d{1,2}\/\d{4}',
]
datetime_templates = f'({"|".join(datetime_types)})'

In [97]:
creation_dates = data['creation_date']
creation_dates

0           1/8/2022
1          8/29/2021
2           1/1/2022
3         12/14/2020
4         11/11/2020
             ...
907136     3/13/2021
907137     9/28/2021
907138     4/13/2021
907139     9/28/2016
907140      9/4/2019
Name: creation_date, Length: 907141, dtype: object

In [98]:
result = re.search(datetime_templates, str(creation_dates[0]))
result

In [99]:
result.groups()

('1/8/2022',)

In [100]:
def convert_datetime_format(value):
    result = re.search(datetime_templates, str(value))
    return f'{result.group(3)}-{result.group(1)}-{result.group(2)}'

creation_dates = data['creation_date']
creation_dates

0           1/8/2022
1          8/29/2021
2           1/1/2022
3         12/14/2020
4         11/11/2020
             ...
907136     3/13/2021
907137     9/28/2021
907138     4/13/2021
907139     9/28/2016
907140      9/4/2019
Name: creation_date, Length: 907141, dtype: object

In [101]:
data['creation_date'] = data['creation_date'].apply(convert_datetime_format)

IndexError: no such group

In [85]:
data['creation_date']

0           None-1/8/2022-None
1          None-8/29/2021-None
2           None-1/1/2022-None
3         None-12/14/2020-None
4         None-11/11/2020-None
                  ...
907136     None-3/13/2021-None
907137     None-9/28/2021-None
907138     None-4/13/2021-None
907139     None-9/28/2016-None
907140      None-9/4/2019-None
Name: creation_date, Length: 907141, dtype: object

In [ ]:
data['price_date'] = data['price_date'].apply(convert_datetime_format)
data['price_date']

In [ ]:
data['cal_date'] = data['cal_date'].apply(convert_datetime_format)
data['cal_date']
data.head()

In [ ]:
data.to_csv('C:\\Users\\1234\\Desktop\\Academy_SD_Data_import_final.csv')